# This hosts file for those still have to settle with a Windows OS is brought to you
# by: https://www.mypdns.org/
# Copyright: Content: https://www.mypdns.org/
# Source:Content: https://gitlab.com/my-privacy-dns
#
# Source:Code: 

# You are free to copy and distribute this file for non-commercial uses,
# as long the original URL and attribution is included. 

# Please forward any additions, corrections or comments by logging an issue at
# https://gitlab.com/my-privacy-dns/support/issues

127.0.0.1 localhost
::1 localhost #[IPv6]

